.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-card {
  width: 100vw;
  margin-top: 2vh;
  height: 70vh;
  position: relative;
  margin-bottom: 3vh;
}

.banner-img{
  height: 70vh;
  width: 100%;
}

.banner-title{
  position: absolute;
  top: 45vh;
  left: 5vw;
  color:rgb(34, 27, 27);

}
.banner-text{
  position: absolute;
  top: 50vh;
  left: 5vw;
  color:black;
}

.movies-list{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-title{
  position: absolute;
  color: white;
  top:1rem;
  left:1rem;
}

.movie-card{
  position: relative;
  margin: 1rem;
  width:20vw;
  color:white
}
.movies-button{
  position: absolute;
  bottom: 2rem;

}
.button-wrapper{
  display:flex ;
  justify-content: center;
}

.genre-selector{
  padding: 3rem;
}

.favourites-table{
  padding: 3rem;
}

